<section>
  <aside> Elit aperiam dolore possimus sunt perferendis, ad necessitatibus. Beatae blanditiis maxime officia dolorem voluptates eius? Exercitationem aliquam ipsa pariatur et quia illum minus perspiciatis dolore sapiente? Tempora delectus porro dolorem?</aside>
  <article><%= image_tag "logo.png" %></article>
  <aside>Consectetur tenetur sapiente aperiam alias incidunt harum voluptates voluptates illum repellendus quasi laboriosam autem consectetur deserunt quaerat. In dolorum quibusdam voluptatem libero aliquam! Deleniti eaque sequi dolores optio dolores! Nisi.</aside>
</section>
<section>

<h3><%= link_to 'Drivers', drivers_path %></h3>